Source: sot-core
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	       doxygen (>= 1.6.3),
	       pkg-config (>= 0.22),
	       libboost-dev (>= 1.33.1),
	       libboost-thread-dev (>= 1.33.1),
	       liblapack-dev (>= 1.2),
	       gfortran (>= 4:4.4.3),
	       libjrl-mal-dev (>= 1.9.0.99),
	       libdynamic-graph-dev (>= 1.0.0.99)
Standards-Version: 3.8.4
#Vcs-Git:
#Vcs-browser:
Section: libs
#Homepage:

Package: libsot-core-dev
Section: libdevel
Architecture: any
Depends: libsot-core1.0.0.99 (= ${binary:Version}), ${misc:Depends}
Suggests: libsot-core-doc
Description: the hierarchichal task solver
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains development files (headers and pkg-config file).


Package: libsot-core1.0.0.99
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the hierarchichal task solver plug-in
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.


Package: libsot-core-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libdynamic-graph-doc
Description: documentation for the hierarchichal task solver
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains the Doxygen documentation.
