Source: sot-core
Priority: extra
Section: libs
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 8.0.0),
	       cmake (>=2.6),
	       doxygen (>=1.6.3),
	       pkg-config (>=0.22),
	       python (<<2.8),
	       python (>=2.7),
	       python-sphinx (>=1.1),
	       libdynamic-graph-dev (>=3.0.0),
	       python-dynamic-graph-dev (>=3.0.0),
	       python-dynamic-graph (>=3.0.0),
       	       libboost-dev (>=1.46),
	       libboost-filesystem-dev (>=1.46),
	       libboost-python-dev (>=1.46),
      	       libboost-system-dev (>=1.46),
      	       libboost-test-dev (>=1.46),
      	       libboost-thread-dev (>=1.46),
      	       libboost-regex-dev (>=1.46),
      	       libboost-program-options-dev (>=1.46),
	       libeigen3-dev (>=3.0.5)
Standards-Version: 3.9.7
Homepage: http://stack-of-tasks.github.io/
Vcs-Git: git://github.com/proyan/sot-core.git

Package: libsot-core-dev
Section: libdevel
Architecture: any
Depends: libsot-core3.0.0 (= ${binary:Version}),
	 python-sot-core,
	 ${misc:Depends}
Suggests: libsot-core-doc
Description: Provides Heirarchical task solver for Dynamic graph
 The sot core library provides heirarchical task solver and task management
 interface in Python. The library provides a stack of tasks solver plugin
 for dynamic graph data flow structure.
 .
 This package contains development files (headers and pkg-config file).

Package: python-sot-core
Section: python
Architecture: any
Suggests: libsot-core-doc
Provides: ${python:Provides}
Depends: libsot-core3.0.0 (= ${binary:Version}),
	 ${shlibs:Depends},
	 ${python:Depends},
	 ${misc:Depends}
Description: Python bindings for sot-core library
 The sot core library provides heirarchical task solver and task management
 interface in Python. The library provides a stack of tasks solver plugin
 for dynamic graph data flow structure.
 .
 This package contains modules that allow you to use sot-core from Python.


Package: libsot-core3.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Stack of tasks solver plugin library for Dynamic graph
 The sot core library provides heirarchical task solver and task management
 interface in Python. The library provides a stack of tasks solver plugin
 for dynamic graph data flow structure.
 .
 This package provides the library files.

Package: libsot-core-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation for the sot-core C++ library and Python modules
 The sot core library provides heirarchical task solver and task management
 interface in Python. The library provides a stack of tasks solver plugin
 for dynamic graph data flow structure.
 .
 This package contains the Doxygen documentation for C++ and
 sphinx documentation for Python.